contourpy==1.3.0
cycler==0.12.1
dos2unix==1
filelock==3.16.1
fonttools==4.54.1
gdown==5.2.0
hpack==4.0.0
imageio==2.36.0
kiwisolver==1.4.7
lazy_loader==0.4
matplotlib==3.9.2
networkx==3.4.2
patsy==1.0.1
pyparsing==3.1.4
PyQt5==5.15.9
PyQt5-sip==12.12.2
QScintilla==2.14.1
scikit-image==0.24.0
statsmodels==0.14.4
tqdm==4.66.5
tifffile==2024.9.20
unzip==1.0.0
vtk==9.2.6
zstandard==0.23.0
pandas==2.2.3
scipy==1.14.1
